body {
  color: #777;
  background-color: #000;
  font-size: 25px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
  -o-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
}

.content.ng-hide {
  -webkit-transition: opacity 1.5s ease-out;
  -moz-transition: opacity 1.5s ease-out;
  -o-transition: opacity 1.5s ease-out;
  transition: opacity 1.5s ease-out;
  opacity: 0;
}

.is-active {
  color: #fff;
}