<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="IndexController">
<head>
  <title>Individ i fællesskab</title>
  <meta name="author" content="Troels Ugilt Jensen">
  <meta http-equiv="Content-Type" content="Type=text/html; charset=utf-8"/>

  <link rel="stylesheet" type="text/css" href="styles.css">
  
  <!-- Import scripts -->
  <script src="../jquery-1.11.1.min.js"></script>
  <script src="../angular.min.js"></script>
  <script src="../angular-animate.min.js"></script>

  <!-- Custom scripts -->
  <script src="../tekster.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div data-ng-show="initializing">
    Font-size: <input type="text" data-ng-model="fontsize"><br>
    Scroll factor: <input type="text" data-ng-model="scrollFactor"> ms. pr. line<br>
    Which list: <input type="text" data-ng-model="whichList"> (vi/jeg)<br>
    <button data-ng-click="start()">Start</button>
  </div>
  <div data-ng-show="!initializing" style="position: absolute; width: 10000px; height: 10000px;" data-ng-style="{'font-size': fontsize + 'px', 'left': offsetX + 'px', 'top': offsetY + 'px'}">
    <div class="content">
      <div class="line" data-ng-repeat="line in lines track by $index">{{line}}</div>
    </div>
  </div>
</body>
</html>